@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Lobster&display=swap');

.body{
  display: flex;
  justify-content: center;
}
.modal {
  position: fixed;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px; 
  height: 300px; 
  border-radius: 15px;
  background: white; 
  padding: 20px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border: 1px solid #ccc; 

}

.modal form {
  display: flex;
  flex-direction: column;
  height: 100%; 
  justify-content: space-around; 
  align-items: center;
  font-family: 'Lobster', cursive; 
  font-size: medium;
}

input {
  border: none; 
  border-bottom: 2px solid #4ECCA3;
  padding: 10px; 
  font-size: 1rem; 
  outline: none;
}

input:focus {
  border-bottom: 3px solid #393E46; 
}

.player-label {
  font-size: 24px;  
  color: #232931;  
  margin-bottom: 10px; 
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  display : flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;  
  
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.btn-box{
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

button{
  width: 150px; 
  height: 50px;
  border-radius: 15px;
  background-color: #4ECCA3; 
  color: #232931; 
  font-family: 'Lobster', cursive; 
  font-size: 1.25rem; 
  
  border: none; 
  cursor: pointer; 
  transition: all 0.3s ease; 
  box-shadow: 5px 5px #232931; 
}

button:hover {
  background-color: rgba(78, 204, 163, 0.5); 
  color: #232931; 
  box-shadow: 2px 2px #232931; 
}

@media (max-width: 768px) {
  .container{
    height: 90%;
  }
  .container, .btn-box {
    width: 90%;    
  }

  h1 {
    font-size: 2rem;
  }

  .dice {
    justify-content: space-around;        
    align-items: center;  
  }

  .modal, .btn-box button {
    margin-bottom: 20px;
    width: 80%;
    padding: 10px;
  }

  .modal button{
    margin-top: 1rem;
    font-size: 1rem;
  }

  input {
    width: 80%;
    padding: 10px 10px 10px 30px;
    text-align: left;
    margin: 0 auto;
}
  .btn-box {
    display: flex;  
    justify-content: center;  
    width: 100%;  
  }

  .modal {
    height: auto;
    padding: 20px;
  }

  img {
    width: 80%;
  }

  .player-label, p{
    font-size: 1.5rem;
  } 
}
